@charset "utf-8";

/*   Author:   Changming Tan
   Date:      11/16/2018

   Filename: hours.css
*/

table {
    border-collapse: collapse;
    box-shadow: black 30px 30px 80px, black 8px 8px 10px
}

table,
th,
td {
    border: 2px solid black;
    text-align: center;
}

th,
td {
    padding: 5px;
}

section {
    position: relative;
    top: 40%;
    left: 5%;
    margin-right: -50%;
    margin: 60px;
}

caption {
    font-size: 50px;
    text-shadow: 0px 3px 8px black, 0px 3px 8px black;
    margin: 30px;
}

thead {
    background-color: lightgray;
}

tbody {
    background-color: lightblue;
}

tfoot {
    text-align: center;
    background-color: pink;
}

body {
    background: white;
    max-width: 1024px;
    box-shadow: white 10px 10px 80px, white -10px 10px 80px;
    margin: auto;
}

ul,
ol {
    list-style: none;
}

footer {
    width: 100%;
}